<h1>Listing targets</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @targets.each do |target| %>
  <tr>
    <td><%= target.name %></td>
    <td><%= link_to 'Show', [:admin,target] %></td>
    <td><%= link_to 'Edit', edit_admin_target_path(target) %></td>
    <td><%= link_to 'Destroy', [:admin,target], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Target', new_admin_target_path %>
