<h1>Listing exercises</h1>

<table>
  <tr>
    <th>Title</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @exercises.each do |exercise| %>
  <tr>
    <td><%= exercise.title %></td>
    <td><%= link_to 'Show', [:admin,exercise] %></td>
    <td><%= link_to 'Edit', edit_admin_exercise_path(exercise) %></td>
    <td><%= link_to 'Destroy', [:admin,exercise], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Exercise', new_admin_exercise_path %>
