<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @exercise.title %>
</p>

<p>
  <b>Description:</b>
  <%= raw @exercise.description %>
</p>


<%= link_to 'Edit', edit_admin_exercise_path(@exercise) %> |
<%= link_to 'Back', admin_exercises_path %>
