<h1>Listing Resources</h1>
<a href='courses'>&laquo; Back to Courses</a>
<table>
  <tr>
    <th>Course</th>
    <th>Url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @admin_resources.each do |resource| %>
  <tr>
    <td><%= resource.course.name %></td>
    <td><%= resource.url %></td>
    <td><%= link_to 'Show', [:admin,resource] %></td>
    <td><%= link_to 'Edit', edit_admin_resource_path(resource) %></td>
    <td><%= link_to 'Destroy', [:admin,resource], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Resource', new_admin_resource_path(:course_id => @course_id) %>
