<h1>Courses that need to be learned.</h1>

<table width='1000'>
<% level_name = "" %>
<% @courses.each do |course| %>
  <% if course[2] != level_name %>
    <tr>
        <th colspan='2' style='text-align:left;'><br /><br /><%= course[2] %><br /><br /></th>
    </tr>
    <tr>
      <th>Title</th>
      <th>Knowledge Score</th>
      <th>Users</th>

    </tr>
    <% level_name = course[2] %>
  <% end %>
  <tr>	
    <td><%= course[0] %></td>
    <td><%= (course[1].nil? ? 0 : course[1].to_i) %>/<%= @total_score %></td>
    <td style="width:800px">
		<span class="red"><%= not_competent(course[0]) %></span> <span class="yellow"><%= novice(course[0]) %></span></td>

  </tr>
<% end %>
</table>

<br />
