<ul id="navigation">
  <li><%= link_to 'Courses', admin_courses_path, :class => ( "on" if current_tab?('courses') || current_tab?('resources') ) %></li>
  <li><%= link_to 'Levels', admin_levels_path, :class => ( "on" if current_tab?('levels') ) %></li>
  <li><%= link_to 'Targets', admin_targets_path, :class => ( "on" if current_tab?('targets') ) %></li>
  <li><%= link_to 'Users', admin_users_path, :class => ( "on" if current_tab?('users') ) %></li>
  <li><%= link_to 'Exercises', admin_exercises_path, :class => ( "on" if current_tab?('exercises') ) %></li>
  <li><%= link_to 'Reports', admin_reports_path, :class => ( "on" if current_tab?('reports') ) %></li>
  <li><%= link_to 'Projects', admin_projects_path, :class => ( "on" if current_tab?('projects') ) %></li>
  <li><%= link_to 'Questions', admin_questions_path, :class => ( "on" if current_tab?('questions') ) %></li>
  <li><%= link_to 'Answers', admin_answers_path, :class => ( "on" if current_tab?('answers') ) %></li>

</ul>
<div class="clear">&nbsp;</div>